@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --color-second: #f4f9ff;
  --color-blue-canonical: #00F;
  --color-blue-second: #3B57FF;
  --color-ultra-violet: #ff33a6;
  --offset-80: 80px; 
}

html, body, main {
  color: var(--color-second);
  background-color: #121212;
}

html, body, p {
  font-family: 'Rubik', system-ui, sans-serif;
  font-weight: 300;
}