@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --background-default: #121212;
  --light-color-rgb: 244, 249, 255; /* #f4f9ff; */
  --color-second: rgb(var(--light-color-rgb)); 
  --color-blue-canonical: #00F;
  /* --color-blue-light: #101AC1; */
  --color-blue-second-rgb: 59, 87, 255; /* #3B57FF; */
  --color-ultra-violet: #ff33a6;
  --offset-80: 80px; 
}

html, body, main {
  color: var(--color-second);
  background-color: var(--background-default);
  font-family: 'Rubik', system-ui, sans-serif;
}
body {
  /* font-size: 17px; */
  font-weight: 100;
}
h1 {
  @apply text-[2rem] font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h4 {
  @apply font-semibold text-[18px];
}

