.custom-slider::-webkit-slider-thumb {
  background: #3b82f6;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.custom-slider::-moz-range-thumb {
  background: #3b82f6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
