@import 'tailwindcss';

h1 {
  @apply text-[2rem] font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h2.bigger {
  @apply text-[32px];
}
header ul.navbar-justify-around {
  @apply justify-around;
}
#main-wrapper > nav {
  @apply relative block;
}
nav > header {
  @apply px-0;
}
.bg-blue {
  background-color: var(--color-blue-canonical);
}
.bg-translusent-light {
  @apply bg-[rgba(244,249,255,0.1)];
}
.bg-translusent-extreme {
  @apply bg-[rgba(244,249,255,0.05)];
}
.outline-color-15 {
  outline-color:rgba(244,249,255,0.15)
}
.btn-rounded {
  @apply rounded-[40px];
}
.input-rounded {
  @apply rounded-[15px];
}
.input-standard-45,
.input-standard-40 {
  @apply bg-[rgba(244,249,255,0.1)] rounded-[15px]; 
  
}
.input-standard-45 {
  @apply h-[45px] w-full;
}
.input-standard-40 {
  @apply h-[40px] 
}
.color-secondary {
  color: var(--color-second);
}
.color-ultra-violet, .error {
  color: var(--color-ultra-violet);
}
.menu-item {
  @apply text-[14px];
}


/* ANIMATIONS */
#sending-data {
  display: inline-block;
  animation: spin .7s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user-form-wrapper {
  @apply flex flex-col items-center justify-center;
}
/*TODO: remove this imitation after getting real data from BE */
.first-loader {
  animation: grow 3s linear forwards;
  background-color: var(--color-second);
  width: 0;
}
@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
